<div id="logoAdd" :style="`padding-bottom: ${(arrayPassword.length > 4) ? '100px' : '0'};`">
    <div>
        <div class="beautyEdge" >
            <div id="title" v-if="!deleting">
                <router-link to="/credentials" class="center" style="width: 50px;">
                    <font-awesome-icon :icon="['fas', 'angle-left']" />
                </router-link>
                <div id="textTitle">{{error}}</div>
                <button id="add" @click="addNewPassword()">+</button> 
            </div>

            <DeleteHandler style="padding: 6px 0px; font-family: 'Mukta', sans-serif; font-weight: 600; font-size: 17px !important;" v-if="deleting" v-on:optionDelete="deleteOption" />
        </div>

        <div style="margin-bottom: 15px;">
            <div v-for="(item, index) in arrayPassword" :key="index" class="line beautyEdge">
                <div>
                    <label for="nome">Nome</label>
                    <div class="center" style="justify-content: flex-start;">
                        <input :autofocus="edit == index" :disabled="edit != index" type="text" v-model="item.nome" :class="{ enable: edit == index, nome: true, noRadiusRight: true }" />
                        <font-awesome-icon @click="copy(item.nome)" :icon="['fas', 'copy']" style="padding-right: 10px;"/>
                    </div>
                    <label for="password">Password</label>
                    <div class="center" style="justify-content: flex-start;">
                        <input :disabled="edit != index" :type="item.password == 'OAuth' ? 'text': 'password' "
                        v-model="item.password" :class="{ enable: edit == index, password: true, noRadiusRight: true, oauth: item.password == 'OAuth'}" />
                        <font-awesome-icon v-if="item.password != 'OAuth'" @click="copy(item.password)" :icon="['fas', 'copy']" style="padding-right: 10px;" />
                    </div>
                </div>
                <div v-if="edit != index" class="btnPassword">
                    <button @click="updateAuth(index)" :class="{ disable: deleting }" :disabled="deleting">Editar</button>
                    <button @click="excluirAuth(index)" :class="{ disable: deleting }" :disabled="deleting">Excluir</button>
                </div>
                <div v-if="edit == index" class="btnPassword" style="justify-content: flex-end;">
                    <button @click="cancel(index)">Cancelar</button>
                    <button @click="saveAuth(item)" :class="{ disable: item.nome.length < 3 || item.password < 4 }" :disabled="item.nome.length < 3 || item.password < 4">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>