@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

#logoAdd {
    display: flex; 
    justify-content: center; 
    height: 100%;
}

#logoAdd > :first-child {
    width: 640px;
    margin-top: 7%;
}

.beautyEdge {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease; 
    overflow: hidden;
}

#logoAdd > div > div:nth-child(2) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#title { 
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex; 
    height: 50px; 
    padding-right: 10px;
    justify-content: space-around; 
    align-items: center;
}

#textTitle { 
    flex-grow: 1; text-align: center; cursor: default;
}

#add {
    font-size: 25px; padding: 0 20px; box-shadow: unset;
}

.line {
    font-family: "Mukta", sans-serif;
    border-bottom: 1px solid rgb(128, 128, 128, 0.2); 
    cursor: pointer;
    font-size: 15px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: cemter;
}

.line input {
    height: 20px;
    color: gray;
    background-color: rgb(128, 128, 128, 0.2);
    box-shadow: unset;
}

.line > div:first-child {
    padding: 5px 20px;
}

.line > div:last-child {
    padding: 15px 20px;
    margin-top: 25px;
}

label { 
    display: block;
}

.line > div > label {
    margin-top: 10px;
}

$widthSVG: 30px;

.line svg {
    height: 15px;
    padding: 12px 0px 11px 0px;
    color: #6a6a6a;
    width: $widthSVG;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(128, 128, 128, 0.2);
    border: 1px solid transparent;
}

.btnPassword {
    display: flex; margin: 15px 0 0 0; border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.btnPassword > button {
    border-color: rgba(0, 68, 255, 0.466);
    height: 35px;
    display: flex;
    color: rgba(0, 68, 255, 1);
    align-items: center;
    border-radius: 50px;
}

.btnPassword > button:nth-child(2) {
    margin-left: 10px;
}

$paddingSVGX: 2px;
$inputWidth: 190px;

.nome {
    width: $inputWidth;
}

.password {
    // width: calc($inputWidth - ($widthSVG + $paddingSVGX));
    width: $inputWidth;
}

.noRadiusRight {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.enable {
    background-color: rgb(216, 216, 216);
    color: black !important;
    box-shadow: unset;
}

.disable {
    background-color: rgb(216, 216, 216);
    border-color: grey !important;
    color: grey !important;
    box-shadow: unset;
}

.line svg:active {
    color: rgb(115, 91, 242);
    height: 17px;
    padding-top: 10px;
}

input[type="password"] {
    padding-right: 5px;
    width: -webkit-fill-available;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-credentials-auto-fill-button:focus {
    padding-left: 3px;
}