<div id="logoAdd" :style="`padding-bottom: ${(arrayPassword.length > 4) ? '100px' : '0'};`">
    <div>
        <div class="beautyEdge" id="title">
            <router-link to="/credentials" class="center" style="width: 50px;">
                <font-awesome-icon :icon="['fas', 'angle-left']" />
            </router-link>
            <div id="textTitle">Password {{xxx}}</div>
            <button id="add" @click="addNewPassword()">+</button> 
        </div>

        <div>
            <div v-for="(item, index) in arrayPassword" :key="index" class="line beautyEdge">
                <div>
                    <label for="nome">Nome</label>
                    <div class="center" style="justify-content: flex-start;">
                        <input :autofocus="edit == index" :disabled="edit != index" type="text" v-model="item.nome" :class="{ enable: edit == index, nome: true, noRadiusRight: true }" />
                        <font-awesome-icon @click="copy(item.nome)" :icon="['fas', 'copy']" style="padding-right: 10px;"/>
                    </div>
                    <label for="password">Password</label>
                    <div class="center" style="justify-content: flex-start;">
                        <input :disabled="edit != index" type="password" v-model="item.password" :class="{ enable: edit == index, password: true, noRadiusRight: true }" />
                        <!-- <font-awesome-icon :icon="['fas', 'eye']" class="noRadiusRight"/>
                        <font-awesome-icon :icon="['fas', 'eye-slash']" class="noRadiusRight" style="display: none;" /> -->
                        <font-awesome-icon  @click="copy(item.password)" :icon="['fas', 'copy']" style="padding-right: 10px;" />
                    </div>
                </div>
                <div v-if="edit != index" class="btnPassword">
                    <button @click="updateAuth(index)">Editar</button>
                    <button @click="excluirAuth(index)">Excluir</button>
                </div>
                <div v-if="edit == index" class="btnPassword" style="justify-content: flex-end;">
                    <button @click="cancel(index)">Cancelar</button>
                    <button @click="saveAuth(item)" :class="{ disable: item.nome.length < 16 || item.password < 4 }" :disabled="item.nome.length < 16 || item.password < 4">Save</button>
                </div>
            </div>
        </div>
    </div>

</div>