<div id="logoAdd" @keyup.esc="handleEsc">
    <div>
        <div class="beautyEdge" id="title">
            <div class="center" style="justify-content: space-between; width: 100%;" v-if="!deleting">
                <button class="icon" @click="catalogoState()" style="margin: 0 8px 0 5px; transform: scale(0.9);">
                    <font-awesome-icon :icon="['fas', 'bars-staggered']" />
                </button> 

                <div id="search" @click="search()" style="margin: 0; padding: 0;">
                    <font-awesome-icon :icon="['fas', 'search']"/>
                </div> 
                
                <div id="textTitle">{{(((!cred && !catalogo) == true) ? 'Autenticações' : ( cred ? 'Aba Auths' : 'Catálogo'))}}</div>

                <button class="icon" @click="changeAddState()" style="margin-right: 5px;">+</button> 
                <button class="icon" @click="credState()">
                    <font-awesome-icon :icon="['fas', 'chart-simple']"/>
                    <div id="count" class="center">{{domainNames.length}}</div>
                </button>
            </div>

            <DeleteHandler style="font-size: 17px !important; font-weight: 600; " v-if="deleting" v-on:optionDelete="deleteOption" />
        </div>
        <Catalogo v-if="catalogo"></Catalogo>
        <Credentials v-if="cred" :listDomain="listDomain" :domainNames="domainNames" v-on:removeItem="deleteRegistry"></Credentials>
        <div v-if="!cred && !catalogo" class="beautyEdge" style="margin-top: 20px; margin-bottom: 20px;">
            <div :class="`line center ${choice == index ? 'choice': ''}`" style="display: flex; justify-content: space-between;" v-for="(item, index) in arrayAuth" :key="index">
                <router-link class="lineWidth" @click="getLinkPosition($event, index)" :id="`cred_${index}`" :to="getPath(item)">
                    <div class="center">
                        <font-awesome-icon :icon="['fas', 'arrow-right']"  style="margin-right: 10px;"/>
                        <div>{{item}}</div>
                    </div>
                </router-link>
                <font-awesome-icon :icon="['fas', 'eraser']" @click="excluirDomain(index)" style="color: rgb(255, 49, 49); z-index: 10; margin-right: 15px;"/>
            </div>
        </div>
    </div>
    <div :style="`display: ${(addAuthentication)? 'flex': 'none'}; z-index: 100; position: fixed;`">
        <div id="addNew">
            <div>
                <h3>Adicionar nova autenticação</h3>
                <label style="display: block;">Nova Autenticação</label>
                <input v-model="myinput" @keyup.enter="saveAuth()"/>
            </div>
            <div>
                <button @click="changeAddState()">Cancelar</button>
                <button :style="`border-color: ${ enter ? '#735BF2': '' };`" :class="{ disable: myinput.length < 6 }" @click="saveAuth()" :disabled="myinput.length < 6">Salvar</button>
            </div>
        </div>
    </div>
    <div :style="`display: ${(dialog)? 'flex': 'none'}; z-index: 100; position: fixed;`" id="dialog">
        <div id="searchDialog">
            <div> SEARCH</div>
            <input style="border-color: black;" v-model="searchValue" ref="search" @keyup.enter="search()"/>
            <button @click="search()">
                <font-awesome-icon :icon="['far', 'paper-plane']"/>
            </button>
        </div>
    </div>
</div>
<!-- <div class="beautyEdge" style="background-color: white; position: fixed; top: 50%; left: 80%; z-index: 20;">
    <button id="add" @click="changeAddState()">+</button> 
    <div id="search" @click="search()">
        <font-awesome-icon :icon="['fas', 'search']"/>
    </div> 
</div> -->