@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');

#logoAdd {
    display: flex; 
    justify-content: center; 
    height: 100%;
    min-height: 100vh;
    position: relative;
}

#logoAdd > :first-child {
    width: 640px;
    margin-top: 7%;
}

#logoAdd > :nth-child(2) {
    
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: rgba(255,255,255);
}

#logoAdd > :nth-child(2) > * {
    justify-content: center;
    margin-top: 10%;
}

#addNew {
    border-radius: 20px;
    overflow: hidden;
    width: fit-content;
    padding: 20px;
}

h3 {
    font-weight: 500;
    font-family: "Mukta", sans-serif;
}

#addNew label {
    font-size: 15px;
    font-family: "Mukta", sans-serif;
}

#addNew input {
    font-size: 13px;
    width: 500px;
    margin: 10px 0 20px 0;
    padding-left: 10px;
    background-color: rgb(216, 216, 216);
    border-bottom: 2px solid #735BF2;
    border-radius: unset;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: unset;
}

#addNew > div:last-child {
    display: flex;
    justify-content: flex-end;
}

#addNew > div:last-child > button {
    border-color: rgba(0, 68, 255, 0.466);
    height: 35px;
    display: flex;
    font-size: 14px;
    color: rgba(0, 68, 255, 1);
    align-items: center;
    border-radius: 50px;
    font-family: "Mukta", sans-serif;
}

#addNew > div:last-child > button:hover {
    border-color: #735BF2;
}

#addNew > div:last-child > :last-child {
    margin-left: 10px;
}

.beautyEdge {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s ease; 
    overflow: hidden;
}

#textTitle { 
    flex-grow: 1; text-align: center; cursor: default; margin-left: 40px;
}

.icon {
    font-size: 25px; 
    padding: 0 20px 0 20px; 
    margin-right: 10px;
    box-shadow: unset;
    position: relative;
}

.line {
    font-family: "Mukta", sans-serif;
    border-bottom: 1px solid rgb(128, 128, 128, 0.2); 
    cursor: pointer;
    font-size: 15px;
}

.line:hover {
    background-color: rgba(0, 0, 0, 0.12);
}

#title { 
    font-family: "Mukta", sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: flex; 
    height: 50px; 
    justify-content: space-around; 
    align-items: center;
}

.disable {
    background-color: rgb(216, 216, 216);
    border-color: grey !important;
    color: grey !important;
    box-shadow: unset;
}

.lineWidth {
    display: flex;
    justify-content: flex-start;
    width: -webkit-fill-available;
    padding: 10px 0px 10px 15px;
}

.choice {
    box-sizing: border-box;
    border: 3px solid #735BF2;
}

.choice:first-of-type {
    border-top-right-radius: 10px !important;
    border-top-left-radius: 10px !important;
}

.choice:last-of-type {
    border-bottom-right-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}

#search {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 15px;
    margin-left: 10px;
    border-radius: 10px;
    color: #59596e;
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

#search:hover {
    transform: scale(0.8)
}


#dialog {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgb(0 0 0 / 50%);
}

#searchDialog {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

#searchDialog > :first-child {
    border-bottom: 3px solid #735BF2;
    margin-bottom: 10px;
    font-weight: 600;
}

#searchDialog input {
    border-top-right-radius: unset;
    border-bottom-right-radius: unset;
    border-right: transparent;
}

#searchDialog button {
    svg {
        transform: scale(1.1)
    }
}

#searchDialog button:hover {
    svg {
        transform: scale(0.9)
    }
}

#searchDialog button {
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    border-color: black;
    border-left: transparent;
}

.line:active {
    background-color: #bcb5dd;
}

#count{
    background-color: #735BF2;
    border-radius: 100%;
    position: absolute;
    bottom: 13%;
    right: 9%;
    height: 12px;
    width: 12px;
    color: white;
    font-size: 8px;
    padding: 0 0px 1px 0;
}