#credentials input {
    box-shadow: unset;
    border: unset;
    background-color: unset;
    margin-right: 20px;
}

#credentials > div {
    display: flex; 
    justify-content: space-between; 
    width: 100%; 
    padding-bottom: 20px;
    max-width: 100vw;
    flex-wrap: wrap;
}

#domain {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 2px solid black;
}

#domain > div {
    font-size: 18px;
    font-weight: 600;
}

.domainStyle {
    border-radius: 10px;
    padding: 0px 10px 10px 10px;
    margin-top: 20px;
    min-width: 200px; 
    background-color: white;
    width: 45%;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

svg {
    transform: scale(1.1);
}

#domain svg:hover:first-of-type {
    color: rgb(241, 156, 116)
}

svg:hover {
    color: rgb(96, 96, 168);
    cursor: pointer;
}

svg:active {
    height: 17px;
    transform: scale(0.9);
}

.changeColor {
    background-color: #616475;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px 0px 10px 0;

    svg:hover {
        color: white;
    }
}

.changeColor input {
    color: white;
}
