<div id="credentials">
    <div>
        <div v-for="(domain, index) in listDomain" :key="index" class="domainStyle">
            <div id="domain">
                <div>{{domainNames[index]}}</div>
                <font-awesome-icon @click="deleteRegistry(index)" :icon="['fas', 'circle-minus']" />
            </div>
            <div v-for="(item, i) in domain" :key="i" :class="`${(i % 2 == 0)? 'changeColor': '' }`">
                <div>
                    <input disabled type="text" v-model="item.nome"/>
                    <font-awesome-icon @click="copy(item.nome)" :icon="['fas', 'copy']" style="padding-right: 10px;" />
                </div>
                <div>
                    <input disabled :type="item.password == 'OAuth' ? 'text': 'password' " v-model="item.password" />
                    <font-awesome-icon v-if="item.password != 'OAuth'" @click="copy(item.password)" :icon="['fas', 'copy']" style="padding-right: 10px;" />
                </div>
            </div>
        </div>
        
    </div>
</div>